.card{
    background-color: white;
    border-radius: 20px;
    width: auto;
    margin: 4rem auto;
    padding: 1rem;
}

@media screen and (max-width: 900px) {
    .card{
        margin: 0;
        padding: 0;
        width: 100vw;
    }
}