*{
    padding: 0;
    margin: 0;
}

#mainDiv{
    display: flex;
}

#mainText{
    display: flex;
    flex-direction: column;
    padding: 0 2rem 0 2rem;
    margin: 5rem 2rem 0 2rem;
    width: 30rem;
}

#mainText h1{
    font-weight: 900;
    margin-bottom: 1rem;
    font-size: 60px;
}

#mainText p{
    margin-bottom: 1rem;
}

#mainText ul{
    list-style: none;
    margin-bottom: 1rem;
}

#mainText ul li img{
    padding-right: 1rem;
}   

#mainText ul li{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

#email p{
    margin-bottom: 5px;
    font-weight: 700;
}

#email form{
    display: flex;
    flex-direction: column;
}

#email input{
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: 1px solid hsl(231, 7%, 60%);
    cursor: pointer;
}

#email input::placeholder{
    color: hsl(231, 7%, 60%);
}

#submit{
    padding: 1rem;
    border: none;
    background-color: hsl(235, 18%, 26%);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

#submit:hover{
    background-color: hsl(4, 100%, 67%);
}

#submit:active{
    background-color: hsl(4, 100%, 67%);
}

#image img{
    max-width: 100%;
    height: auto;
}

#image #mobileimg{
    display: none;
}


@media screen and (max-width: 900px) {
    #mainDiv{
        flex-direction:column-reverse;
    }

    #mainText{
        margin: 0;
        padding: 2rem 1rem 2rem 1rem;
        flex-wrap: wrap;
        width: auto;
    }

    #mainText h1{
        font-size: 40px;
    }

    #image #desktopimg{
        display: none;
    }

    #image #mobileimg{
        display: block;
        width: 100%;
        height: 50%;
    }
    
}